<div class="row">
    <div class="col s12 center">
        <h1> <b>Registro de nuevo Alumno</b></h1>
    </div>
</div>

<form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

    <div class="row">
        <div class="offset-l5 input-field col l2 s12">
            Iniciativa
            <label for="iniciativa" class="col-form-label col-sm-2"><span id="obligatorio"> </span></label>
            <select class="browser-default" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.iniciativaUser" #iniciativaUser="ngModel">
          <option *ngFor="let iniciativa of iniciativas" [ngValue]="iniciativa">
              {{iniciativa.tituloIniciativa}}
          </option>
      </select>

        </div>
        <div class="offset-l4 input-field col l2 s12">
            Nombre de Usuario
            <input type="text" class="validate" name="username" [(ngModel)]="user.username" required minlength="3" maxlength="20" #username="ngModel" />
            <div class="red" *ngIf="username.errors && f.submitted">
                <div *ngIf="username.errors ['required']">El usuario es obligatorio</div>
                <div *ngIf="username.errors ['minlength']">
                    El usuario debe tener al menos 3 caracteres
                </div>
                <div *ngIf="username.errors ['maxlength']">
                    El usuario no puede tener más de 20 caracteres
                </div>
            </div>
            <label for="username"></label>
        </div>

        <div class="input-field col l2 s12">
            Contraseña
            <label for="password"></label>
            <input type="password" class="validate" name="password" [(ngModel)]="user.password" required minlength="6" #password="ngModel" />
            <div class="red" *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors ['required']">Contraseña es obligatoria</div>
                <div *ngIf="password.errors ['minlength']">
                    Contraseña debe tener al menos 3 caracteres
                </div>
                <div *ngIf="password.errors ['maxlength']">
                    Contraseña no puede tener más de 20 caracteres
                </div>
            </div>
        </div>

        <div class="offset-l4 input-field col l2 s12">
            Email
            <input type="text" class="validate" name="email" [(ngModel)]="user.email" required email #email="ngModel" />
            <div class="red" *ngIf="email.errors && f.submitted">
                <div *ngIf="email.errors ['required']">Email es obligatorio</div>
                <div *ngIf="email.errors ['email']">
                    Email debe ser una dirección de email válida
                </div>
            </div>
            <label for="email"></label>
        </div>
        <div class="input-field col l2 s12">
            Localización
            <label for="location"></label>
            <input type="text" class="validate" name="Location" [(ngModel)]="user.location" required minlength="3" maxlength="20" location #location="ngModel" />
            <div class="red" *ngIf="location.errors && f.submitted">
                <div *ngIf="location.errors ['required']">La Localizacion es obligatoria</div>
                <div *ngIf="location.errors ['minlength']">
                    La Localizacion debe tener al menos 3 caracteres
                </div>
                <div *ngIf="location.errors ['maxlength']">
                    La Localizacion no puede tener más de 20 caracteres
                </div>
            </div>
        </div>

        <div class="offset-l4 input-field col l2 s12">
            Nombre
            <input type="text" class="validate" name="name" [(ngModel)]="user.name" required minlength="3" maxlength="20" #name="ngModel" />
            <label for="name"></label>
            <div class="red" *ngIf="name.errors && f.submitted">
                <div *ngIf="name.errors ['required']">El Nombre es obligatorio</div>
                <div *ngIf="name.errors ['minlength']">
                    El Nombre debe tener al menos 3 caracteres
                </div>
                <div *ngIf="name.errors ['maxlength']">
                    El Nombre no puede tener más de 20 caracteres
                </div>
            </div>



        </div>




        <div class="input-field col l2 s12">
            Apellidos
            <input type="text" class="validate" name="Apellido" [(ngModel)]="user.apellidos" required minlength="3" maxlength="20" #apellidos="ngModel" />
            <div class="red" *ngIf="apellidos.errors && f.submitted">
                <div *ngIf="apellidos.errors ['required']">Apellido es obligatorio</div>
                <div *ngIf="apellidos.errors ['minlength']">
                    Apellido debe tener al menos 3 caracteres
                </div>
                <div *ngIf="apellidos.errors ['maxlength']">
                    Apellido no puede tener más de 20 caracteres
                </div>
            </div>
            <label for="apellidos"></label>
        </div>


        <div class="offset-l4 input-field col l2 s12">Centro Formativo
            <label for="center"></label>
            <input type="text" class="validate" name="center" [(ngModel)]="user.center" minlength="3" maxlength="20" required center #center="ngModel" />
            <div class="red" *ngIf="center.errors && f.submitted">
                <div *ngIf="center.errors ['required']">El centro es obligatorio</div>
                <div *ngIf="center.errors ['minlength']">
                    El Centro debe tener al menos 3 caracteres
                </div>
                <div *ngIf="center.errors ['maxlength']">
                    El Centro no puede tener más de 20 caracteres
                </div>
            </div>
        </div>

        <div class="input-field col l2 s12">DAS
            <label for="das"></label>
            <input type="text" class="validate" name="das" [(ngModel)]="user.das" required minlength="3" maxlength="20" #das="ngModel" />
            <div class="red" *ngIf="das.errors && f.submitted">
                <div *ngIf="das.errors ['required']">El DAS es obligatoria</div>
                <div *ngIf="das.errors ['minlength']">
                    El DAS debe tener al menos 3 caracteres
                </div>
                <div *ngIf="das.errors ['maxlength']">
                    El DAS no puede tener más de 20 caracteres
                </div>
            </div>
        </div>


        <div class="offset-l4 input-field col l2 s12">Profesor
            <label for="teacher"></label>
            <input type="text" class="validate" name="teacher" [(ngModel)]="user.teacher" minlength="3" maxlength="20" #teacher="ngModel" />
            <div class="red" *ngIf="teacher.errors && f.submitted">

                <div *ngIf="teacher.errors ['minlength']">
                    El Profesor de Teams debe tener al menos 3 caracteres
                </div>
                <div *ngIf="teacher.errors ['maxlength']">
                    El Profesor no puede tener más de 20 caracteres
                </div>
            </div>
        </div>

        <div class="input-field col l2 s12">Nombre de grupo de Teams
            <label for="nameGroupTeams"></label>
            <input type="text" class="validate" name="nameGroupTeams" [(ngModel)]="user.nameGroupTeams" minlength="3" maxlength="20" nameGroupTeams #nameGroupTeams="ngModel" />
            <div class="red" *ngIf="nameGroupTeams.errors && f.submitted">

                <div *ngIf="nameGroupTeams.errors ['minlength']">
                    Nombre de grupo de Teams debe tener al menos 3 caracteres
                </div>
                <div *ngIf="nameGroupTeams.errors ['maxlength']">
                    Nombre de grupo de Teams no puede tener más de 20 caracteres
                </div>
            </div>
        </div>

        <div class="offset-l4 input-field col l2 s12">Grupo de Proyecto
            <label for="groupProyect"></label>
            <input type="text" class="validate" name="groupProyect" [(ngModel)]="user.groupProyect" minlength="3" maxlength="20" #groupProyect="ngModel" />
            <div class="red" *ngIf="groupProyect.errors && f.submitted">

                <div *ngIf="groupProyect.errors ['minlength']">
                    El Grupo de Proyecto debe tener al menos 3 caracteres
                </div>
                <div *ngIf="groupProyect.errors ['maxlength']">
                    El Grupo de Proyecto no puede tener más de 20 caracteres
                </div>
            </div>
        </div>



        <div class="input-field col l2 s12">DNI
            <label for="dni" pattern="((\d{8})([-]?)([A-Z]{1}))"></label>
            <input type="text" class="validate" name="dni" [(ngModel)]="user.dni" minlength="3" maxlength="20" #dni="ngModel" />
        </div>

        <div class="offset-l4 input-field col l2 s12">
            Fecha de nacimiento
            <input type="date" class="datepicker" name="fechaNacimiento" [(ngModel)]="user.fechaNacimiento" fechaNacimiento #fechaNacimiento="ngModel" min="2018-01-01" max="2025-12-31">
            <label for="fechaNacimiento"></label>
            <!--Validacion-->
        </div>

        <div class="input-field col l2 s12">
            Fecha comienzo de FCT
            <input type="date" class="datepicker" name="fechaFCT" [(ngModel)]="user.fechaFCT" #fechaFCT="ngModel" min="2018-01-01" max="2025-12-31">
            <label for="fechaFCT"></label>

        </div>

        <div class="offset-l4 input-field col l2 s12">Fecha final de FCT
            <input type="date" class="datepicker" placeholder="Fecha final de FCT" name="email" [(ngModel)]="user.finFCT" finFCT #finFCT="ngModel" min="2018-01-01" max="2025-12-31">
            <label for="finFCT"></label>

        </div>

        <div class="input-field col l2 s12">Tipo
            <label for="tipo"></label>
            <input type="text" class="validate" name="tipo" [(ngModel)]="user.tipo" minlength="3" maxlength="20" #tipo="ngModel" />
            <div class="red" *ngIf="tipo.errors && f.submitted">

                <div *ngIf="tipo.errors ['minlength']">
                    Tipo debe tener al menos 3 caracteres
                </div>
                <div *ngIf="tipo.errors ['maxlength']">
                    Tipo no puede tener más de 20 caracteres
                </div>
            </div>
        </div>

        <div class="offset-l4 input-field col l2 s12">PO
            <label for="po"></label>
            <input type="text" class="validate" name="po" [(ngModel)]="user.po" minlength="3" maxlength="20" po #po="ngModel" />
            <div class="red" *ngIf="po.errors && f.submitted">

                <div *ngIf="po.errors ['minlength']">
                    PO debe tener al menos 3 caracteres
                </div>
                <div *ngIf="po.errors ['maxlength']">
                    PO no puede tener más de 20 caracteres
                </div>
            </div>
        </div>

        <div class="input-field col l2 s12">Numero de Seguridad Social
            <label for="ss"></label>
            <input type="text" class="validate" name="ss" [(ngModel)]="user.ss" minlength="3" maxlength="20" #ss="ngModel" />
            <div class="red" *ngIf="ss.errors && f.submitted">

                <div *ngIf="ss.errors ['minlength']">
                    SS debe tener al menos 3 caracteres
                </div>
                <div *ngIf="ss.errors ['maxlength']">
                    SS no puede tener más de 20 caracteres
                </div>
            </div>
        </div>

        <div class="offset-l4 input-field col l2 s12">RR
            <label for="rr"></label>
            <input type="text" class="validate" name="rr" [(ngModel)]="user.rr" rr #rr="ngModel" minlength="3" maxlength="20" />
            <div class="red" *ngIf="rr.errors && f.submitted">

                <div *ngIf="rr.errors ['minlength']">
                    RR debe tener al menos 3 caracteres
                </div>
                <div *ngIf="rr.errors ['maxlength']">
                    RR no puede tener más de 20 caracteres
                </div>
            </div>
        </div>

        <div class="input-field col l2 s12">Becas
            <label for="becas"></label>
            <input type="text" class="validate" name="becas" [(ngModel)]="user.becas" minlength="3" maxlength="20" #becas="ngModel" />
            <div class="red" *ngIf="becas.errors && f.submitted">

                <div *ngIf="becas.errors ['minlength']">
                    Becas debe tener al menos 3 caracteres
                </div>
                <div *ngIf="becas.errors ['maxlength']">
                    Becas no puede tener más de 20 caracteres
                </div>
            </div>
        </div>

        <div class="offset-l4 input-field col l2 s12">Ceco
            <label for="ceco"></label>
            <input type="text" class="validate" name="ceco" [(ngModel)]="user.ceco" minlength="3" maxlength="20" ceco #ceco="ngModel" />
            <div class="red" *ngIf="ceco.errors && f.submitted">

                <div *ngIf="ceco.errors ['minlength']">
                    Ceco de Unit debe tener al menos 3 caracteres
                </div>
                <div *ngIf="ceco.errors ['maxlength']">
                    Ceco de Unit no puede tener más de 20 caracteres
                </div>
            </div>
        </div>

        <div class="input-field col l2 s12">Organizacion de Unit
            <label for="orgUnit"></label>
            <input type="text" class="validate" name="orgUnit" [(ngModel)]="user.orgUnit" minlength="3" maxlength="20" #orgUnit="ngModel" />
            <div class="red" *ngIf="orgUnit.errors && f.submitted">

                <div *ngIf="orgUnit.errors ['minlength']">
                    Organizacion de Unit debe tener al menos 3 caracteres
                </div>
                <div *ngIf="orgUnit.errors ['maxlength']">
                    Organizacion de Unit no puede tener más de 20 caracteres
                </div>
            </div>
        </div>

        <div class="offset-l4 input-field col l2 s12">Sociedad
            <label for="sociedad"></label>
            <input type="text" class="validate" name="sociedad" [(ngModel)]="user.sociedad" minlength="3" maxlength="20" sociedad #sociedad="ngModel" />
            <div class="red" *ngIf="sociedad.errors && f.submitted">

                <div *ngIf="sociedad.errors ['minlength']">
                    Sociedad debe tener al menos 3 caracteres
                </div>
                <div *ngIf="sociedad.errors ['maxlength']">
                    Sociedad no puede tener más de 20 caracteres
                </div>
            </div>
        </div>

        <div class="input-field col l2 s12">Telefono
            <label for="phone"></label>
            <input type="text" class="validate" name="phone" [(ngModel)]="user.phone" minlength="3" maxlength="20" #phone="ngModel" />
            <div class="red" *ngIf="emailAtos.errors && f.submitted">

                <div *ngIf="emailAtos.errors ['minlength']">
                    El Email de Atos debe tener al menos 3 caracteres
                </div>
                <div *ngIf="emailAtos.errors ['maxlength']">
                    El Convenio no puede tener más de 20 caracteres
                </div>
            </div>
        </div>

        <div class="offset-l4 input-field col l2 s12">Email de ATOS
            <label for="emailAtos"></label>
            <input type="text" class="validate" name="emailAtos" [(ngModel)]="user.emailAtos" minlength="3" maxlength="20" emailAtos #emailAtos="ngModel" />
            <div class="red" *ngIf="emailAtos.errors && f.submitted">

                <div *ngIf="emailAtos.errors ['minlength']">
                    El Email de Atos debe tener al menos 3 caracteres
                </div>
                <div *ngIf="emailAtos.errors ['maxlength']">
                    El Convenio no puede tener más de 20 caracteres
                </div>
            </div>
        </div>



        <div class="input-field col l2 s12">Convenio
            <label for="convenio"></label>
            <input type="text" class="validate" name="convenio" [(ngModel)]="user.convenio" minlength="3" maxlength="20" convenio #convenio="ngModel" />
            <div class="red" *ngIf="convenio.errors && f.submitted">

                <div *ngIf="convenio.errors ['minlength']">
                    El Convenio debe tener al menos 3 caracteres
                </div>
                <div *ngIf="convenio.errors ['maxlength']">
                    El Convenio no puede tener más de 20 caracteres
                </div>
            </div>
        </div>

        <div class="offset-l4 input-field col l2 s12">Contacto
            <label for="contacto"></label>
            <input type="text" class="validate" name="contacto" [(ngModel)]="user.contacto" minlength="3" maxlength="20" #contacto="ngModel" />
            <div class="red" *ngIf="contacto.errors && f.submitted">

                <div *ngIf="contacto.errors ['minlength']">
                    El Contacto debe tener al menos 3 caracteres
                </div>
                <div *ngIf="contacto.errors ['maxlength']">
                    El Contacto no puede tener más de 20 caracteres
                </div>
            </div>
        </div>

        <div class="input-field col l2 s12">Posicion de ID
            <label for="positionId"></label>
            <input type="text" class="validate" name="positionId" [(ngModel)]="user.positionId" minlength="3" positionId #positionId="ngModel" />
            <div class="red" *ngIf="positionId.errors && f.submitted">

                <div *ngIf="positionId.errors ['minlength']">
                    Posicion de ID debe tener al menos 3 caracteres
                </div>
                <div *ngIf="positionId.errors ['maxlength']">
                    Posicion de ID no puede tener más de 20 caracteres
                </div>
            </div>
        </div>






    </div>

    <div class="row">
        <div class="offset-l2 input-field col l2 s12">
        </div>

        <div class="input-field col l2 s6">
            <button id="cancelar" class="btn waves-effect waves-light blue">Registrar Usuario</button>

        </div>
        <div class="input-field col l2 s6">
            <button id="cancelar" class="btn waves-effect waves-light blue " routerLink="/admin">Cancelar</button>

        </div>
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Registro fallido<br />{{ errorMessage }}
        </div>
    </div>

</form>

<div class="alert alert-success" *ngIf="isSuccessful">
    Se ha registrado correctamente!
</div>